@font-face {
  font-family: 'PsyonicVII';      /* name you’ll use in CSS */
  src: url('../fonts/psyonicexpand.ttf') format('truetype'); /* path & format */
  font-weight: normal;
  font-style: normal;
}

:root {
	--color-transparent: rgba(  0,   0,   0, 0.0);
	--color-background:  rgba(  0,   0,   0, 1.0);
	--color-side-panel:  rgba( 30,  30,  40, 1.0);
	--color-top-banner:  rgba(  0,   0,   0, 0.5);
	--color-font-major:  rgba(200, 200, 200, 1.0);
	--color-font-minor:  rgba(  0,   0,   0, 1.0);
	--color-font-light:  rgba(255, 250,   0, 1.0);
}

body {
	font-family: Arial, sans-serif;
	color: var(--color-font-major);
	background-color: var(--color-background);
	background-image: url('../img/cab-and-xbone-front.png');
	background-repeat: no-repeat;
	background-size: 512px;
	background-position-x: center;
	background-position-y: -50%;
	display: block;
	margin: 0 auto;
}

#mygamertag {
	font-family: PsyonicVII, sans-serif;
	font-size: 3vw;
	color: var(--color-font-light);
	margin-top: 0.80vw;
	margin-left: 2vw;
	margin-right: auto;
	float: left;
}

#nav-header {
	background-color: var(--color-top-banner);
	justify-content: space-between;
	display: flex;
	height: 100px;
	width: 100%;
	height: 5vw;
}

#toggle-btn {
	background-color: var(--color-transparent);
	background-image: url('../img/cab-and-xbone-side.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 100%;
	border: none;
	margin-top: 1vh;
	margin-left: 1.5vw;
	width: 3.5vw;
	height: 3.5vw;
	z-index:1000;
	float: left;
	font-size:3vw;
	filter: invert(100%);
	color: var(--color-font-major);
	cursor:pointer;	
}


#sidebar {
	background: var(--color-side-panel);
	height: 5vh;
	width: 100vw;
	box-sizing: border-box;
	transition: height 0.3s ease;
	overflow: hidden;
}

#sidebar.collapsed {
	height: 0px;
}

#sidebar h2 {
	margin-top: 0;
	font-size: 2vw;
}

#sidebar ul {
	list-style:disc;
}

#sidebar ul li {
	margin-top: 2vw;
	margin-left: 0px;
	margin-right: 1vw;
}

#sidebar a {
	font-size: 1.25vw;
	color: var(--color-font-major);
	text-decoration:none;
}

/* Main content */
main {
	flex: 1;
	padding: 0px;
}
